body{
  background:#bdbdbd;
  padding:0px;
  margin:0px;
  font-family:Monaco
}
.logInForm{
  border:1px solid #000;
  width:300px;
  margin-left:auto;
  margin-right:auto;
  padding:5px;
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
}
.formItem{
  
}
.formLabel{
  display:inline-block;
  width:100px;
  text-align:right;
}
.formSeparator:{
  width:10px;
}
.logButton{
  display:block;
  margin-left:auto;
  margin-right:auto;
  border:1px solid #000;
  cursor:pointer;
  text-transform:uppercase;
}
#result{
  text-align:center
}
